torch==2.8.0
torchaudio==2.8.0
pandas==2.2.2
numpy==2.0.2
tqdm==4.67.1
librosa==0.11.0
soundfile==0.13.1
scikit-learn==1.6.1
matplotlib==3.10.0
seaborn==0.13.2
openai==1.108.0
openai-whisper==20250625
faster-whisper==1.2.0
html5lib==1.1
